includes:
    - vendor/cakedc/cakephp-phpstan/extension.neon

parameters:
    level: 9

    paths:
        - src
        - tests

    bootstrapFiles:
        - tests/bootstrap.php

    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
        -
            message: '#does not accept Cake\\ORM\\Table\.$#'
            path: tests/TestCase